/*input {
    position: relative;
    width: 100%;
    margin-bottom: 1rem; 
    padding: 4px;
    border: none;

    &::after {
        position: absolute;
        display: block;
    }
    
    &[type='text'] {

    }
}*/