//COLORS
$primary-color-dark : #F57C00;
$primary-color : #FF9800;
$primary-color-light : #FFE0B2;
$primary-color-text : #212121;
$accent-color : #FF5722;

$primary-text-color : #212121;
$secondary-text-color: #757575;
$light-text-color: white;

$darker-background: #f2f2f2;
$box-shadow-color: #5c5c5c;
$divider-color : #BDBDBD;

$input-underline-unfocused-color: rgba(0,0,0,0.12);

//TYPOGRAPHY
$font-family: 'Lato',sans-serif;

$font-size-xlarge: 30px;
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;

//LAYOUT
$page-padding: 1rem;