@import './globals';

[md-button],
[md-raised-button] {
    span {
        font-weight: 700;
        text-transform: uppercase;
    }

    &[ng-reflect-color] span {
        color: $light-text-color;
    }
}

md-input-container {
    &.full-width {
        width: 100%;
    }
}

md-checkbox {
    margin: 1em 0;
}

md-select {
    margin: 1em 0;

    span.mat-select-placeholder {
        width: auto !important;
    }
}

//dialog
md-dialog-container {
    &.mat-dialog-container {
        max-width: 100vw; //max-height: 95vh;
    }
}