md-checkbox {
    margin: 1em 0;
}

md-select {
    margin: 1em 0;

    span.mat-select-placeholder {
        width: auto !important;
    }
}

//dialog

md-dialog-container {
    &.mat-dialog-container {
        max-width: 100vw;
        //max-height: 95vh;
    }
}