<nav class="main-nav">
  <div class="main-nav__logo">
    <a routerLink="/">
      <img src="../../assets/logo.png" alt="">
    </a>
  </div>
  <div class="main-nav__searchbar">
    <input class="main-nav__searchbar__input"
           type="search"
           name="search"
           value=""
           [(ngModel)]="searchTerm"
           (click) = "navigateToHome()"
           (keyup) = "search()"
           (keyup.enter)="search()">
  </div>
  <ul class="main-nav__menu">
    <a routerLink="/"
       routerLinkActive="active">
      <li>Home</li>
    </a>
    <a routerLink="add"
       routerLinkActive="active">
      <li>Add a manga</li>
    </a>
  </ul>
  <div class="main-nav__user-avatar">

  </div>
</nav>