@import "../../sass/_globals";

.auth-container {
    h1 {
        margin: 0;
        padding: 2rem;

        text-align: center;
    }

    form {
        width: 768px;
        max-width: 95%;
        margin: 0 auto;

        fieldset {
            border: 0.5px solid $divider-color;
            padding: 2rem;

            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        .form-actions {
            display: flex;
            margin-top: 1rem;

            flex-direction: column;
            align-items: center;

            button {
                width: 50%;
                margin-bottom: 1rem;
            }
        }
    }
}