<form class="add-manga-form"
      [formGroup]="mangaForm"
      (ngSubmit)="submit()">
    <div class="cover-with-detail-container">
        <div class="cover-with-detail-container__cover">
            <div class="cover-img"
                 [ngStyle]="{'background-image': 'url(' + mangaForm.controls['coverUrl'].value + ')'}">
                <div class="cover-img__edit-menu">
                    <button [color]="'accent'"
                            (click)='openSelectCoverDialog()'
                            md-raised-button
                            type="button">EDIT</button>
                </div>
                <input type="url"
                       name="coverUrl"
                       hidden
                       formControlName='coverUrl'>
            </div>
        </div>
        <div class="cover-with-detail-container__detail">
            <md-input-container>
                <input mdInput
                       formControlName="title"
                       name="title"
                       placeholder="Title">
                <md-error>Title is required</md-error>
            </md-input-container>

            <tag-input formControlName='alternativeTitles'
                       name="alternative titles"
                       theme='weeb-theme'
                       [modelAsStrings]='true'
                       [placeholder]='"Add more"'
                       [secondaryPlaceholder]='"Add some alternative names"'>
            </tag-input>

            <md-input-container>
                <input mdInput
                       formControlName="author"
                       name="author"
                       [mdAutocomplete]="authorAuto"
                       placeholder="Author">
            </md-input-container>

            <md-autocomplete #authorAuto="mdAutocomplete">
                <md-option *ngFor="let author of authors"
                           [value]="author">
                    {{ author }}
                </md-option>
            </md-autocomplete>

            <md-input-container>
                <input mdInput
                       formControlName="artist"
                       name="artist"
                       [mdAutocomplete]="artistAuto"
                       placeholder="Artist">
            </md-input-container>

            <md-autocomplete #artistAuto="mdAutocomplete">
                <md-option *ngFor="let artist of artists"
                           [value]="artist">
                    {{ artist }}
                </md-option>
            </md-autocomplete>

            <md-select formControlName="type"
                       name="type"
                       placeholder="Type">
                <md-option *ngFor="let type of types"
                           [value]="type">{{type}}</md-option>
            </md-select>

            <md-checkbox name="isCompleted"
                         formControlName="isCompleted">
                Completely Scanlated?
            </md-checkbox>

            <md-input-container>
                <textarea mdInput
                          formControlName="synopsis"
                          name="synopsis"
                          placeholder="Synopsys"></textarea>
            </md-input-container>
        </div>
    </div>
    <div>
        <tag-input formControlName='genres'
                   name="genres"
                   theme='weeb-theme'
                   [onlyFromAutocomplete]="true"
                   [modelAsStrings]='true'
                   [placeholder]='"Add more"'
                   [secondaryPlaceholder]='"Add some genres"'>
            <tag-input-dropdown [autocompleteItems]="genres"
                                [showDropdownIfEmpty]="true">
            </tag-input-dropdown>
        </tag-input>

<!--[transform]="transformLowerCasedCapitalized"-->
        <tag-input formControlName='categories'
                   name="categories"
                   theme='weeb-theme'
                   [modelAsStrings]='true'
                   [placeholder]='"Add more"'
                   [secondaryPlaceholder]='"Add some categories"'
                   >
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="categories">
            </tag-input-dropdown>
        </tag-input>
    </div>
    <div class="mu-import-container">
        <span>OR</span>
        <button class=""
                md-raised-button
                [color]="'primary'"
                (click)="openImportFromMuDialog()">IMPORT</button>
    </div>
    <button class="submit-btn"
            [disabled]="!mangaForm.valid"
            md-raised-button
            [color]="'accent'"
            (click)="submit()">Submit</button>
</form>