$mangaCoverMinWidth: 190px;
$gutter-width: 5px;

.loading-mangas {
    margin: 1.5rem auto;
}

.manga-cover-grid {
    display: flex;

    flex-wrap: wrap;
    &__cover {
        width: calc(100% - (2 * #{$gutter-width}));
        margin: #{$gutter-width} #{$gutter-width};

        z-index: 1;

        @for $multiplier from 1 through 13  {
            $result: ($mangaCoverMinWidth + (2 * $gutter-width)) * $multiplier;
            @media screen and (min-width: #{$result}) {
                width: calc(100% / #{$multiplier} - (2 * #{$gutter-width}));
            }
        }
    }
}