@import '../../sass/_globals';

form.add-manga-form {
    padding: 2rem;

    .two-column-layout {
        display: flex;

        >* {
            &:first-of-type {
                width: 30%;
                margin-right: 5%;
            }

            &:last-of-type {
                width: 65%;
            }

            .manga-img {
                width: 100%;
            }
        }
    }

    md-input-container {
        width: 100%;
    }

    .submit-btn {
        display: block;
        margin: 2rem 0 1rem auto;

        font-weight: 700;
        text-transform: uppercase;
        color: $light-text-color;
    }
}