<h2 md-dialog-title>Pick a cover</h2>
<md-input-container>
    <input mdInput placeholder="Id or https://" [(ngModel)]="searchField">
</md-input-container>
<button type="button" md-button (click)="searchForIdOrLink()">Search</button>
<div class="cover-results">
    <img *ngFor="let cover of covers" src="{{cover}}" alt="Available cover for manga" (click)="toggleSelectCover($event)" [ngClass]="{'selected': cover === selectedCover}">
</div>

<button type="button" md-button (click)="dialogRef.close()">Cancel</button>
<button type="button" md-raised-button [disabled]="!isSelectedCover" (click)="dialogRef.close(selectedCover)">OK</button>
