.mangaCover {
  width: 190px;
  box-shadow: 1px 1px 5px 0px rgba(92,92,92,1);

  &__container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 140%;

    .mangaCover__img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .mangaCover__title {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem 0.5rem 0.5rem;
      background-image: linear-gradient(180deg, transparent, rgba(black, 0.7));
      color: white;
      font-weight: 700;
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(45deg, rgba(#DB9B4F, 0.5), rgba(#fc9920, 0.7));
      transition: opacity 200ms;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}
