<div class="auth-container">
    <h1>{{title}}</h1>

    <form [formGroup]="authForm"
          (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
            <md-input-container class="full-width"
                                *ngIf="authType === 'register'">
                <input formControlName="username"
                       mdInput
                       placeholder="Username"
                       type="text">
            </md-input-container>
            <md-input-container class="full-width">
                <input formControlName="email"
                       mdInput
                       placeholder="Email"
                       type="email">
                <md-error>
                    <span *ngIf="authForm.controls['email'].hasError('required'); else emailFormatError">Email is required</span>
                    <ng-template #emailFormatError>
                        <span>Email is invalid</span>
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-input-container class="full-width">
                <input formControlName="password"
                       mdInput
                       placeholder="Password"
                       type="password">
                <md-error>
                    <span>Email is required</span>
                </md-error>
            </md-input-container>

            <button class=""
                    color='primary'
                    [disabled]="!authForm.valid"
                    md-raised-button
                    type="submit">
              {{ title }}
            </button>
            <a *ngIf="authType === 'register'"
               routerLink="/auth/login">
                Already have an account?
               </a>
            <a *ngIf="authType === 'login'"
               routerLink="/auth/register">
                Make an account
               </a>
        </fieldset>
    </form>
</div>